/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { LaunchDarklyCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Update expiring targets for segment
 *
 * @remarks
 *
 * Update expiring context targets for a segment. Updating a context target expiration uses the semantic patch format.
 *
 * To make a semantic patch request, you must append `domain-model=launchdarkly.semanticpatch` to your `Content-Type` header. To learn more, read [Updates using semantic patch](https://launchdarkly.com/docs/api#updates-using-semantic-patch).
 *
 * If the request is well-formed but any of its instructions failed to process, this operation returns status code `200`. In this case, the response `errors` array will be non-empty.
 *
 * ### Instructions
 *
 * Semantic patch requests support the following `kind` instructions for updating expiring context targets.
 *
 * <details>
 * <summary>Click to expand instructions for <strong>updating expiring context targets</strong></summary>
 *
 * #### addExpiringTarget
 *
 * Schedules a date and time when LaunchDarkly will remove a context from segment targeting. The segment must already have the context as an individual target.
 *
 * ##### Parameters
 *
 * - `targetType`: The type of individual target for this context. Must be either `included` or `excluded`.
 * - `contextKey`: The context key.
 * - `contextKind`: The kind of context being targeted.
 * - `value`: The date when the context should expire from the segment targeting, in Unix milliseconds.
 *
 * Here's an example:
 *
 * ```json
 * {
 *   "instructions": [{
 *     "kind": "addExpiringTarget",
 *     "targetType": "included",
 *     "contextKey": "user-key-123abc",
 *     "contextKind": "user",
 *     "value": 1754092860000
 *   }]
 * }
 * ```
 *
 * #### updateExpiringTarget
 *
 * Updates the date and time when LaunchDarkly will remove a context from segment targeting.
 *
 * ##### Parameters
 *
 * - `targetType`: The type of individual target for this context. Must be either `included` or `excluded`.
 * - `contextKey`: The context key.
 * - `contextKind`: The kind of context being targeted.
 * - `value`: The new date when the context should expire from the segment targeting, in Unix milliseconds.
 * - `version`: (Optional) The version of the expiring target to update. If included, update will fail if version doesn't match current version of the expiring target.
 *
 * Here's an example:
 *
 * ```json
 * {
 *   "instructions": [{
 *     "kind": "updateExpiringTarget",
 *     "targetType": "included",
 *     "contextKey": "user-key-123abc",
 *     "contextKind": "user",
 *     "value": 1754179260000
 *   }]
 * }
 * ```
 *
 * #### removeExpiringTarget
 *
 * Removes the scheduled expiration for the context in the segment.
 *
 * ##### Parameters
 *
 * - `targetType`: The type of individual target for this context. Must be either `included` or `excluded`.
 * - `contextKey`: The context key.
 * - `contextKind`: The kind of context being targeted.
 *
 * Here's an example:
 *
 * ```json
 * {
 *   "instructions": [{
 *     "kind": "removeExpiringTarget",
 *     "targetType": "included",
 *     "contextKey": "user-key-123abc",
 *     "contextKind": "user",
 *   }]
 * }
 * ```
 *
 * </details>
 */
export function segmentsPatchExpiringTargets(
  client: LaunchDarklyCore,
  request: operations.PatchExpiringTargetsForSegmentRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    components.ExpiringTargetPatchResponse,
    | errors.InvalidRequestErrorRep
    | errors.UnauthorizedErrorRep
    | errors.ForbiddenErrorRep
    | errors.NotFoundErrorRep
    | errors.StatusConflictErrorRep
    | errors.RateLimitedErrorRep
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: LaunchDarklyCore,
  request: operations.PatchExpiringTargetsForSegmentRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      components.ExpiringTargetPatchResponse,
      | errors.InvalidRequestErrorRep
      | errors.UnauthorizedErrorRep
      | errors.ForbiddenErrorRep
      | errors.NotFoundErrorRep
      | errors.StatusConflictErrorRep
      | errors.RateLimitedErrorRep
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.PatchExpiringTargetsForSegmentRequest$outboundSchema.parse(
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.patchSegmentExpiringTargetInputRep, {
    explode: true,
  });

  const pathParams = {
    environmentKey: encodeSimple("environmentKey", payload.environmentKey, {
      explode: false,
      charEncoding: "percent",
    }),
    projectKey: encodeSimple("projectKey", payload.projectKey, {
      explode: false,
      charEncoding: "percent",
    }),
    segmentKey: encodeSimple("segmentKey", payload.segmentKey, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc(
    "/api/v2/segments/{projectKey}/{segmentKey}/expiring-targets/{environmentKey}",
  )(pathParams);

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.apiKey);
  const securityInput = secConfig == null ? {} : { apiKey: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "patchExpiringTargetsForSegment",
    oAuth2Scopes: [],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.apiKey,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "PATCH",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "403", "404", "409", "429", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    components.ExpiringTargetPatchResponse,
    | errors.InvalidRequestErrorRep
    | errors.UnauthorizedErrorRep
    | errors.ForbiddenErrorRep
    | errors.NotFoundErrorRep
    | errors.StatusConflictErrorRep
    | errors.RateLimitedErrorRep
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >(
    M.json(200, components.ExpiringTargetPatchResponse$inboundSchema),
    M.jsonErr(400, errors.InvalidRequestErrorRep$inboundSchema),
    M.jsonErr(401, errors.UnauthorizedErrorRep$inboundSchema),
    M.jsonErr(403, errors.ForbiddenErrorRep$inboundSchema),
    M.jsonErr(404, errors.NotFoundErrorRep$inboundSchema),
    M.jsonErr(409, errors.StatusConflictErrorRep$inboundSchema),
    M.jsonErr(429, errors.RateLimitedErrorRep$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
