/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { LaunchDarklyCore } from "../core.js";
import { appendForm, encodeSimple } from "../lib/encodings.js";
import { readableStreamToArrayBuffer } from "../lib/files.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { isBlobLike } from "../types/blobs.js";
import { Result } from "../types/fp.js";
import { isReadableStream } from "../types/streams.js";

/**
 * Add multiple members to team
 *
 * @remarks
 * Add multiple members to an existing team by uploading a CSV file of member email addresses. Your CSV file must include email addresses in the first column. You can include data in additional columns, but LaunchDarkly ignores all data outside the first column. Headers are optional. To learn more, read [Manage team members](https://launchdarkly.com/docs/home/account/manage-teams#manage-team-members).
 *
 * **Members are only added on a `201` response.** A `207` indicates the CSV file contains a combination of valid and invalid entries. A `207` results in no members being added to the team.
 *
 * On a `207` response, if an entry contains bad input, the `message` field contains the row number as well as the reason for the error. The `message` field is omitted if the entry is valid.
 *
 * Example `207` response:
 * ```json
 * {
 *   "items": [
 *     {
 *       "status": "success",
 *       "value": "new-team-member@acme.com"
 *     },
 *     {
 *       "message": "Line 2: empty row",
 *       "status": "error",
 *       "value": ""
 *     },
 *     {
 *       "message": "Line 3: email already exists in the specified team",
 *       "status": "error",
 *       "value": "existing-team-member@acme.com"
 *     },
 *     {
 *       "message": "Line 4: invalid email formatting",
 *       "status": "error",
 *       "value": "invalid email format"
 *     }
 *   ]
 * }
 * ```
 *
 * Message | Resolution
 * --- | ---
 * Empty row | This line is blank. Add an email address and try again.
 * Duplicate entry | This email address appears in the file twice. Remove the email from the file and try again.
 * Email already exists in the specified team | This member is already on your team. Remove the email from the file and try again.
 * Invalid formatting | This email address is not formatted correctly. Fix the formatting and try again.
 * Email does not belong to a LaunchDarkly member | The email address doesn't belong to a LaunchDarkly account member. Invite them to LaunchDarkly, then re-add them to the team.
 *
 * On a `400` response, the `message` field may contain errors specific to this endpoint.
 *
 * Example `400` response:
 * ```json
 * {
 *   "code": "invalid_request",
 *   "message": "Unable to process file"
 * }
 * ```
 *
 * Message | Resolution
 * --- | ---
 * Unable to process file | LaunchDarkly could not process the file for an unspecified reason. Review your file for errors and try again.
 * File exceeds 25mb | Break up your file into multiple files of less than 25mbs each.
 * All emails have invalid formatting | None of the email addresses in the file are in the correct format. Fix the formatting and try again.
 * All emails belong to existing team members | All listed members are already on this team. Populate the file with member emails that do not belong to the team and try again.
 * File is empty | The CSV file does not contain any email addresses. Populate the file and try again.
 * No emails belong to members of your LaunchDarkly organization | None of the email addresses belong to members of your LaunchDarkly account. Invite these members to LaunchDarkly, then re-add them to the team.
 */
export function teamsAddMembers(
  client: LaunchDarklyCore,
  request: operations.PostTeamMembersRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    components.TeamImportsRep,
    | errors.InvalidRequestErrorRep
    | errors.UnauthorizedErrorRep
    | errors.MethodNotAllowedErrorRep
    | errors.RateLimitedErrorRep
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: LaunchDarklyCore,
  request: operations.PostTeamMembersRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      components.TeamImportsRep,
      | errors.InvalidRequestErrorRep
      | errors.UnauthorizedErrorRep
      | errors.MethodNotAllowedErrorRep
      | errors.RateLimitedErrorRep
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => operations.PostTeamMembersRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = new FormData();

  if (payload.RequestBody.file !== undefined) {
    if (isBlobLike(payload.RequestBody.file)) {
      appendForm(body, "file", payload.RequestBody.file);
    } else if (isReadableStream(payload.RequestBody.file.content)) {
      const buffer = await readableStreamToArrayBuffer(
        payload.RequestBody.file.content,
      );
      const blob = new Blob([buffer], { type: "application/octet-stream" });
      appendForm(body, "file", blob);
    } else {
      appendForm(
        body,
        "file",
        new Blob([payload.RequestBody.file.content], {
          type: "application/octet-stream",
        }),
        payload.RequestBody.file.fileName,
      );
    }
  }

  const pathParams = {
    teamKey: encodeSimple("teamKey", payload.teamKey, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/api/v2/teams/{teamKey}/members")(pathParams);

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.apiKey);
  const securityInput = secConfig == null ? {} : { apiKey: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "postTeamMembers",
    oAuth2Scopes: [],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.apiKey,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "405", "429", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    components.TeamImportsRep,
    | errors.InvalidRequestErrorRep
    | errors.UnauthorizedErrorRep
    | errors.MethodNotAllowedErrorRep
    | errors.RateLimitedErrorRep
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >(
    M.json([201, 207], components.TeamImportsRep$inboundSchema),
    M.jsonErr(400, errors.InvalidRequestErrorRep$inboundSchema),
    M.jsonErr(401, errors.UnauthorizedErrorRep$inboundSchema),
    M.jsonErr(405, errors.MethodNotAllowedErrorRep$inboundSchema),
    M.jsonErr(429, errors.RateLimitedErrorRep$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
